.find {
    padding: 5rem 0;

    &-container {
        width: 80%;
        margin: auto;
    }

    &-header {
        h2 {
            text-align: center;
        }

        margin-bottom: 5rem;
    }

    &-content {
        margin: 5rem 0;
        display: flex;
        align-items: center;
        gap: 2rem;

        &-image {
            flex-basis: 50%;

            img {
                width: 100%;
                border-radius: .5rem;
            }
        }

        &-text {
            flex-basis: 50%;
            text-align: left;

            h2 {
                margin-bottom: 1rem;
            }
        }

        &-text:nth-child(1) {
            text-align: right;
        }
    }
}