.navbar {
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    background-color: $secondary-div;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .active {
        color: $primary-text;
        font-weight: 700;
    }
}

.navbar .logo {
    img {
        width: 140px;
    }
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.navbar ul li {
    margin: 0 2rem;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: $secondary-text;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
        color: $primary;
    }
}


.navbar .menu-btn {
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}