* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #1C1C1C;
}

h1 {
  color: #64A71A;
}

p {
  color: #636363;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

.btn-primary {
  font-weight: 600;
  display: inline-block;
  background-color: #F7931E;
  padding: .75rem 2rem;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #da7908;
}

.btn-secondary {
  font-weight: 600;
  display: inline-block;
  padding: .75rem 2rem;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 0.25rem;
  background-color: #64A71A;
}

.btn-secondary:hover {
  background-color: #4a7b13;
}

.navbar {
  width: 100%;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFFE3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .active {
  color: #1C1C1C;
  font-weight: 700;
}

.navbar .logo img {
  width: 140px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.navbar ul li {
  margin: 0 2rem;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #636363;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #64A71A;
}

.navbar .menu-btn {
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.jumbotron {
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFFE3), to(#fff));
  background: linear-gradient(180deg, #FAFFE3, #fff);
}

.jumbotron-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jumbotron-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.jumbotron-left p {
  margin: 1rem 0;
}

.jumbotron-right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jumbotron-right img {
  width: 90%;
}

.benefit {
  padding: 5rem 0;
}

.benefit-container {
  width: 90%;
  margin: auto;
}

.benefit-header {
  text-align: center;
  margin-bottom: 5rem;
}

.benefit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.benefit-box {
  border-radius: 1rem;
  padding: 3rem;
  background-color: #FAFFE3;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit-box img {
  width: 60px;
}

.benefit-box h5 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.special {
  padding: 5rem 0;
}

.special-container {
  width: 90%;
  margin: auto;
}

.special-header {
  text-align: center;
  margin-bottom: 5rem;
}

.special-header p {
  margin-top: .5rem;
}

.special-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.special a {
  text-decoration: none;
  color: #1C1C1C;
}

.special-thumbnail img {
  width: 100%;
}

.special-box {
  text-align: center;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.special-box img {
  border-radius: 1rem;
}

.special-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.special-box:hover img {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.special-box h5 {
  margin-top: 2rem;
}

.special-footer {
  margin-top: 5rem;
  text-align: center;
}

.chef {
  padding: 5rem 0;
}

.chef-container {
  width: 90%;
  margin: auto;
}

.chef-header {
  text-align: center;
  margin-bottom: 5rem;
}

.chef-header p {
  width: 60%;
  margin: auto;
  margin-top: .5rem;
}

.chef-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.chef-box {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  text-align: center;
}

.chef-box h5 {
  margin-top: 1.5rem;
}

.chef-box img {
  width: 100%;
}

.chef-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.offer {
  padding: 5rem 0px;
}

.offer-container {
  width: 90%;
  margin: auto;
  padding: 5rem;
  border-radius: 1rem;
  text-align: center;
  color: #fff;
  background-image: url(../img/bg-offer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-container p {
  margin: 1.5rem 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: #64A71A;
  color: #fff;
  padding: 2.5rem 0;
}

.footer hr {
  margin: 2rem 0;
}

.footer-container {
  width: 90%;
  margin: auto;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top-right ul li {
  list-style: none;
  display: inline-block;
}

.footer-top-right ul li a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom .phone {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .social-media {
  padding-left: 1rem;
  border-left: 1px solid #FAFFE3;
}

.footer-bottom p {
  color: #fff;
}

.footer-bottom ul li {
  list-style: none;
  display: inline-block;
}

.footer-bottom ul li a {
  padding: .25rem .5rem;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.footer-bottom ul li a img {
  width: 40px;
}

.about {
  padding: 5rem 0;
}

.about-header {
  text-align: center;
  margin-bottom: 5rem;
}

.about-content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.about-content img {
  width: 60%;
}

.about-content p {
  margin-top: 2rem;
}

.about-vision {
  width: 80%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-vision-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about-vision-left img {
  width: 100%;
}

.about-vision-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.about-vision-right h2 {
  margin-bottom: 1rem;
}

.about-mission {
  width: 80%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-mission-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.about-mission-left h2 {
  margin-bottom: 1rem;
}

.about-mission-left ul {
  margin-left: 1rem;
}

.about-mission-right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about-mission-right img {
  width: 100%;
}

.menu {
  padding: 5rem 0;
}

.menu-header {
  text-align: center;
  margin-bottom: 5rem;
}

.menu-container {
  width: 90%;
  margin: auto;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.menu-box {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  margin-bottom: 2rem;
}

.menu-box h5 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.menu-box a {
  text-decoration: none;
  color: #000;
}

.menu-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-box:hover img {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu-box img {
  width: 100%;
  border-radius: 1rem;
}

.menu-footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer .pagination-box a {
  border-radius: .5rem;
  text-decoration: none;
  background-color: #D9D9D9;
  color: #636363;
  padding: 1rem 1.5rem;
  margin: 0 .5rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-footer .pagination-box a:hover {
  background-color: #64A71A;
  color: #fff;
}

.menu-footer .pagination-active a {
  background-color: #64A71A;
  color: #fff;
}

.find {
  padding: 5rem 0;
}

.find-container {
  width: 80%;
  margin: auto;
}

.find-header {
  margin-bottom: 5rem;
}

.find-header h2 {
  text-align: center;
}

.find-content {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.find-content-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.find-content-image img {
  width: 100%;
  border-radius: .5rem;
}

.find-content-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: left;
}

.find-content-text h2 {
  margin-bottom: 1rem;
}

.find-content-text:nth-child(1) {
  text-align: right;
}

.contact {
  background-image: url(../img/contact-background.jpg);
  padding: 5rem;
}

.contact-header {
  text-align: center;
}

.contact-header img {
  width: 40%;
}

.contact-container {
  background-color: #fff;
  padding: 5rem;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
}

.contact-container img {
  margin-bottom: 3rem;
}

.contact-container form .input-group {
  margin: 1rem 0;
}

.contact-container form input {
  font-family: 'Inter', sans-serif;
}

.contact-container form label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 4px;
}

.contact-container form input::-webkit-input-placeholder {
  color: #939393;
}

.contact-container form input:-ms-input-placeholder {
  color: #939393;
}

.contact-container form input::-ms-input-placeholder {
  color: #939393;
}

.contact-container form input::placeholder {
  color: #939393;
}

.contact-container form .input-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.contact-container form .gender-male,
.contact-container form .gender-female {
  color: #939393;
}

.contact-container form input[type=text],
.contact-container form input[type=email] {
  width: 100%;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #CED0D2;
  border-radius: .25rem;
}

.contact-container form input[type="checkbox"] {
  display: block;
}

.contact-container form #message {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 5rem;
}

.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact-footer button {
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  body {
    font-size: 14px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 1rem 2rem;
  }
  .navbar .active {
    color: #fff;
    text-decoration: underline;
  }
  .navbar-brand img {
    width: 100px;
  }
  .navbar .menu-btn {
    display: block;
  }
  .navbar .menu-btn img {
    padding: 1rem;
    border-radius: .5rem;
    background-color: #64A71A;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .navbar ul {
    position: fixed;
    top: 85px;
    left: -100%;
    background: #64A71A;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  .navbar ul li {
    width: 100%;
    margin: 40px 0;
    line-height: 40px;
  }
  .navbar ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
  }
  .navbar ul li a:hover {
    color: #64A71A;
  }
  .navbar ul li a.btn-primary {
    background-color: #fff;
    color: #64A71A !important;
    display: inline-block !important;
    width: auto;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  .navbar ul li a:hover {
    background: none;
    color: #64A71A;
  }
  .jumbotron {
    padding: 7rem 0;
  }
  .jumbotron-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron-left {
    text-align: center;
  }
  .jumbotron-right img {
    margin-top: 2rem;
    width: 100%;
  }
  .benefit-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .special-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .special-box h5 {
    margin-top: 1rem;
  }
  .chef-header p {
    width: 100%;
  }
  .chef-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .chef-box h5 {
    margin-top: 1rem;
  }
  .offer-container {
    padding: 2rem;
  }
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-top-right ul {
    text-align: center;
  }
  .footer-top-right ul li {
    display: block;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bottom-right .phone {
    margin: 1rem 0;
    padding: 0;
  }
  .footer-bottom-right .phone img {
    width: 30px;
    margin-right: .5rem;
  }
  .footer-bottom-right .social-media {
    border: none;
  }
  .footer-bottom-right .social-media img {
    width: 30px;
  }
  .about-vision {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-mission-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-mission-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .find-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .find-content-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .find-content-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .find-content-image:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .find-content-text:nth-child(1) {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact {
    padding: 10rem 0;
  }
  .contact-container {
    padding: 2rem;
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */